<!-- Personal Page concept: Naz Hamid. http://thepersonalpage.me --> 
<!doctype html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ site.title }}</title>
	<link rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="icon" 
      type="image/x-icon"
      href="http://notatort.com/favicon.ico">
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="robots" content="none" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<meta http-equiv="imagetoolbar" content="false" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" media="screen" href="/stylesheets/style.css"/>
	</head>